<p id="notice"><%= notice %></p>
<div class="container">
<div class="row justify-content-md-center show-title">
<strong class="show-title" >
  <%= @post.title %>
</strong></br>
</div>

<div class="row justify-content-md-center">
<%= image_tag(@post.image_url,class:"show-img") if @post.image.present? %>
</div>

<p>
  <strong>説明文</strong>
  <%= @post.text %>
</p>
</div>
</div>